.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc

hw.ipynb

training_ACDC/
testing_ACDC/
SCD_IMAGES_01/
SCD_IMAGES_02/
SCD_IMAGES_03/
SCD_IMAGES_04/
SCD_IMAGES_05/
SCD_CAPModels/
SCD_ManualContours/

checkpoints/
outputs/
